<div class="contact">
    <p class="footer-js"><strong>©<span id="currentYear"></span> | SleepOutside</strong></p>
    <p>742 Evergreen Terrace</p>
    <p>Sunnyvale, CA 94086</p>
    <p>info@sleepoutside.com</p>
    <p>+1 (415) 555-8394</p>
</div>
<div class="social-media">
    <a href="https://facebook.com"><img src="../images/social-media/facebook.png" alt="Facebook"></a>
    <a href="https://twitter.com"><img src="../images/social-media/twitter.png" alt="Twitter"></a>
    <a href="https://tiktok.com"><img src="../images/social-media/tiktok.png" alt="TikTok"></a>
</div>        
<div>
    <p>WDD330 Web Frontend Development II</p>
    <p><span id="lastModified"></span></p>
</div>